<div class="row">

   <div class="col-md-5">
      <div class="row">
         <div class="positioning-statement">
            A speedy introduction to Docker.
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <a href="introduction.html" class="btn btn-block btn-lg btn-success">Read online <span class="glyphicon glyphicon-chevron-right"></span></a>
	 </div>
         <div class="col-md-6">
            <a href="https://s3.amazonaws.com/orm-atlas-media/docker-jumpstart.pdf" class="btn btn-block btn-lg btn-success">Download <span class="glyphicon glyphicon-download"></span></a>
	 </div>
      </div>
   </div>

   <div class="col-md-7">

      <div class="contributing">
         <h3>How to contribute</h3>
         <p>I would welcome additions, corrections, or especially any interesting <a href="https://github.com/odewahn/docker-jumpstart/blob/master/content/additional-resources.md">additional resources</a> and <a href="https://github.com/odewahn/docker-jumpstart/blob/master/wishlist/">wishlist items</a>.  To contribute:</p>
         <ol>
            <li><a href="https://github.com/odewahn/docker-jumpstart">Fork the repo</a>.</li>
            <li>Send a pull request.</li>
            <li>We'll discuss it.</li>
         </ol>
      </div>

   </div>

</div>

<div class="row">
   <div class="contents col-md-6">
      <h2>Contents</h2>
      <%- partial("_toc") %>
   </div>
   <div class="testmonials col-md-6">
      <h2>Testimonials</h2>
      <%- partial("_testimonials") %>
   </div>
</div>