body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* Fork me banner
----------------------------------------------------------------- */
.fork-on-github {
	z-index: 999999999; 
	position: absolute; 
	top: 0; 
	right: 0; 
	border: 0;
}

/* Logo
----------------------------------------------------------------- */
.logo {
	margin-left: 80px;
	margin-right: 40px;
	margin-bottom: 20px;
	width: 120px;
	float: left;
}


/* Fonts
----------------------------------------------------------------- */

a {
  color: #2972E0;
  text-decoration: none;
}

/* Header
----------------------------------------------------------------- */

header {
  position: relative;
  border-bottom: 1px solid #E0E0E0;
}

header h1 {
  font-weight: 300;
  font-size: 20px;
  color: gray;
}

header #buttons {
  position: absolute;
  top: 3px;
  left: 20px;
}

header #buttons a {
  color: gray;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}

/* Skeleton
----------------------------------------------------------------- */

#flex-box {
  display: flex;
  flex: 1 100%;
}

#flex-box #sidebar {
  flex: 0 0 250px;
  border-right: 1px solid #E0E0E0;
}

#flex-box #content {
  flex: 1;
}

/* TOC
----------------------------------------------------------------- */

/* turn sidebar off by default */
#sidebar {
   display: none;
}

/* First Level */

nav[data-type="toc"] ol {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

nav[data-type="toc"] li {
  padding: 8px 10px 8px 15px;
}

nav[data-type="toc"] a {
  color: #686868;
  font-size: 14px;
}

/* Second Level */

nav[data-type="toc"] li li {
  display: none;
  font-size: 13px;
  list-style-type: lower-roman;
  list-style-position: inside;
}

nav[data-type="toc"] li li a {
  font-size: 13px;
}

/* Third Level */

nav[data-type="toc"] li ol ol {
  display: none;
}

/* Page Navigation
----------------------------------------------------------------- */

ul.page-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

ul.page-navigation li {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 45%;
}

ul.page-navigation li:nth-child(2) {
  text-align: right;
}

/* Content
----------------------------------------------------------------- */

#content-body {
  width: 750px;
  margin: 0 auto;
}

#content-body h1 {
  font-size: 35px;
  margin-bottom: 0.8em;
}

#content-body p {
  line-height: 1.6em;
}

#content-body pre[data-type="programlisting"] {
  background-color: #F5F5F5;
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 10px;
  white-space: pre-wrap;
}

#content-body img {
	width: 100%;
}



