.ico {
  vertical-align: top;
  float: left;
  margin-right: 20px;
}


.positioning-statement {
	font-size: 1.5em; 
	line-height: 1.5em; 
	padding: 10px;

}

.contributing {
   background-color: #eee;
   border-radius: 10px; 
   padding: 10px;
	width: 70%;
}

/* header
---------------------------------------------------- */
header {
   position: relative;
   border-bottom: 1px solid #E0E0E0;
   padding: 20px;
}

/* Footer
---------------------------------------------------- */
footer {
   position: relative;
   border-top: 1px solid #E0E0E0;
   padding: 20px;
}



/* Author profiles
---------------------------------------------------- */

.author-img {
  border-radius: 12px;
  margin-bottom: 10px;
  width: 120px;
  margin-right: 20px;
  float: left;
}

blockquote {
  color: #918D8D;
  font-size: 14px;
  line-height: 20px;
}

blockquote cite {
  display: block;
  text-align: right;
}

